body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272829;
    color: white;
  }
  
  .converter-container {
    /* border: 2px solid #FFF6E0; */
    border-radius: 20px;
    padding: 20px;
    background-color: #61677A;
  }
  
  button {
     margin-bottom:10px;
     cursor: pointer;
     font-size: 18px;
     border: none;
     background-color: ;
  }

  input{
    height: 30px;
    font-size: 18px;
  }

  p, label{
    font-size: 18px;
  }
  

